<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>worldtrotter.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA83D38E24874CCA00FB203E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA83D3A424874CD000FB203E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA83D3AF24874CD000FB203E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
